<?xml version="1.0" encoding="utf-8" ?>
<declaration xbkVersion="0.1">
    <abstract>
        <name>user</name>
        <version>1.0</version>
        <xbkVersion>0.1</xbkVersion>
    </abstract>
    <privileges>
        <privilege name="administrator" class="xbkAdministratorPrivilege" />
    </privileges>
    <events>
        <event name="userAdd" class="xbkUserAddEvent" />
        <event name="userUpdate" class="xbkUserUpdateEvent" />
        <event name="userDelete" class="xbkUserDeleteEvent" />
    </events>
</declaration>