Options -Indexes
Options +FollowSymLinks

RewriteEngine on

RewriteRule ^\.htaccess$ - [F]

RewriteRule ^favicon\.ico - [L]
RewriteRule \.swf$ - [L]
RewriteRule \.jpg$ - [L]
RewriteRule \.gif$ - [L]
RewriteRule \.png$ - [L]
RewriteRule \.ico$ - [L]
RewriteRule \.css$ - [L]
RewriteRule \.js$ - [L]
RewriteRule \.htm$ - [L]
RewriteRule \.html$ - [L]
RewriteRule \.xml$ - [L]
RewriteRule \.pdf$ - [L]
RewriteRule \.doc$ - [L]
RewriteRule \.php$ - [L]

# RewriteRule \.%$ - [L]

RewriteRule ^$ index.php
RewriteRule . index.php